
{% extends "base.html" %}
{% load i18n %}

{% block body %}


<form method="post" action="{% url 'auth_login' %}">
  {% csrf_token %}





<br>
<br><br><br><br>


<div class="form-group">

        <div class="container-fluid">
        <div class="row">
        <div class="col-sm-4"></div>
            <div class="col-sm-6 col-md-7">

                    <div class="panel-body">

                    {%  if form.errors %}
                        <strong>
                         <span class="text-danger small">
                        Please enter correct username and password
                        </span>
                        </strong>
                    {% endif %}

                        <h3>Create a New Account</h3>
                        {% if error_message %}
                            <p><strong>{{ error_message }}</strong></p>
                        {% endif %}


                        <form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">


                            {%  include 'getnews/form-template.html' %}
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-10">
                                    <br>
                                    <button type="submit" class="btn btn-sucess" style="border: 2px solid #f4511e;color: #f4511e;">LOGIN</button>

                                </div>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>

</div>


                        </form>
                    </div>
<div class="col-sm-4"></div>
    <p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
    <div class="col-sm-4"></div>
<p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
   </div>
        </div>
        </div>

</div>

</form>



{% endblock %}
