{% extends "base.html" %}
{% load i18n %}

{% block body %}
    <br><br><br><br>
<form method="post" action="">
  {% csrf_token %} 
  <div class="form-group">

        <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-7">

                    <div class="panel-body">
                        <h3>Change password for</h3>
                        {% if error_message %}
                            <p><strong>{{ error_message }}</strong></p>
                        {% endif %}
                        <form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">

                            {%  csrf_token %}
                            {%  include 'getnews/form-template.html' %}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-sucess">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>

            </div>
        </div>
    </div>

</div>




</form>

{% endblock %}
